
params {
    level2norm = "/data/Jakku/fonda/grassdata/force/level2_norm"
    masks = "/data/Jakku/fonda/grassdata/force/misc/GRA_2018_10m_conv/cubed"
    maskName = "GRA_2018_10m_conv_noData.tif"
    DirTiles = "/data/Jakku/fonda/grassdata/force/vectors"
    DirEndm = "/data/Jakku/fonda/grassdata/force/endm"
    datacube = "/data/Jakku/fonda/grassdata/force/level2_norm/datacube-definition.prj"
    soeosCode = "/data/Jakku/users/lewinska/PetabytesTest/codes/01_Phenology_sos_eos.py"
    fnfCode = "/data/Jakku/users/lewinska/PetabytesTest/codes/03_FoldAndFill.py"
    cefCode = "/data/Jakku/users/lewinska/PetabytesTest/codes/04_cef.py"
    arCode = "/data/Jakku/users/lewinska/PetabytesTest/codes/01_AR.R"
    glsCode = "/data/Jakku/users/lewinska/PetabytesTest/codes/02_GLS_LINUX.R"
    outdata = '/data/Jakku/fonda/grassdata/force/L'

}

process {
  withName:SMA_RBF{
    container =  'davidfrantz/force'
    executor: 'local'
  }
  withName:AR{
    container = 'lewinska/rdoc:rparts'
    // cpus = 20
    executor: 'local'
    // memory = 200.GB
  }
  withName:GLS{
    container = 'lewinska/rdoc:rparts'
    executor: 'local'
    // runOptions= '--cpuset-cpus="0-19"'
    // cpus = 10
  }
}

docker {
    enabled=true
    executor = 'local'
    runOptions='-u $(id -u):$(id -g) --cpus=70' // --cpus=40' // --memory-swap 100G ' // --cpuset-cpus="0-19"'

}


executor {
    name = 'local'
    // cpus = 60
    // runOptions= ' --cpuset-cpus="0-19" '
    memory = '400 GB'
}

conda.enabled = true

report {
    file = '/data/Jakku/users/lewinska/PetabytesTest/nfReport.html'
}

// conda {
//     cacheDir = "/data/Jakku/users/lewinska/miniconda3/envs/envpy39/"
// }
