profiles {
    local { includeConfig './local.config' }
}



// params {
//     level2norm = "/data/Jakku/fonda/grassdata/force/level2_norm"
//     SRAParamFiles = "/data/Jakku/users/lewinska/PetabytesTest/FONDA_Trends/unm/test/"
//     masks = "/data/Jakku/fonda/grassdata/force/misc/GRA_2018_10m_conv/cubed"
//     maskName = "GRA_2018_10m_conv_noData.tif"
//     SATiles = "/data/Jakku/fonda/grassdata/force/vectors/SA_tiles.txt"
//     endmembers = "/data/Jakku/fonda/grassdata/force/endm/SR_endmembers.txt"
//     datacube = "/data/Jakku/fonda/grassdata/force/level2_norm/datacube-definition.prj"
//
//     sraGV = "/data/Jakku/users/lewinska/PetabytesTest/FONDA_Trends/unm/test/TSA_SMA_RBF_gv.prm"
//
// }

// docker {
//     enabled=true
//     runOptions='-u $(id -u):$(id -g)'
// }

conda.enabled = true
